@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
    max-width: 100vw;
  }

  body {
    @apply bg-white text-cohortes-dark overflow-x-hidden;
    max-width: 100vw;
    position: relative;
  }

  section {
    max-width: 100vw;
    overflow-x: hidden;
  }
}
